:host {
  display: flex;
  align-items: stretch;
  height: 100%;
  user-select: none;
}

.splitter-left {
  transition: width 0.1s;
}

.splitter-bar {
  width: 32px;
  cursor: col-resize;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.splitter-icon {
  font-family: monospace;
  font-size: 20px;
  color: #888;
  transition: color 0.2s;
  pointer-events: none;
}


.splitter-right {
  flex: 1 1 0;
}
